<div class="input-group input-group-lg rounded mt-3" style="width: 50%; left: 25%;">
    <input type="text" [(ngModel)]="search" (input)="onSearchChange()" class="form-control rounded" 
        placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
</div>
<div *ngFor = "let item of cities; let i = index">
    <div *ngIf="i % 4 == 0" class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <ng-container [ngTemplateOutlet]="cityTemplate" [ngTemplateOutletContext] ="{city:cities[i]}">
            </ng-container> 
        </div>
        <div *ngIf="i + 1 < cities.length" class="col-lg-3 col-md-4 col-sm-6">
            <ng-container [ngTemplateOutlet]="cityTemplate" [ngTemplateOutletContext] ="{city:cities[i + 1]}">
            </ng-container> 
        </div>
        <div *ngIf="i + 2 < cities.length"  class="col-lg-3 col-md-4 col-sm-6">
            <ng-container [ngTemplateOutlet]="cityTemplate" [ngTemplateOutletContext] ="{city:cities[i + 2]}">
            </ng-container> 
        </div>
        <div *ngIf="i + 3 < cities.length" class="col-lg-3 col-md-4 col-sm-6">
            <ng-container [ngTemplateOutlet]="cityTemplate" [ngTemplateOutletContext] ="{city:cities[i + 3]}">
            </ng-container> 
        </div>
    </div>
</div>

<div >
    <ngb-pagination class="inline-pagination d-flex justify-content-center" 
    [collectionSize]="totalElements" [(page)]="currentPage" [(pageSize)]="pageSize" 
    [maxSize]="5" [boundaryLinks]="true" (pageChange)="onChangePage($event)"></ngb-pagination>
</div>
<!-- (click)="open('focusFirst')" -->
<ng-template let-city="city" #cityTemplate>  
    <a routerLink = "/{{city.id}}">
        <div class="text-center">
            <img src="{{city.photo}}" class="rounded" alt="{{city.photo}}" class="w-100">
        </div>
    </a>
    <div class="text-center w-100">
        <span>{{city.name}}</span>
    </div>
</ng-template>