<div class="row align-items-center">
    <div class="col-lg-3 col-md-3 col-sm-2 hidden-xs">
    </div>
    <div *ngIf="city" class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
        <div class="text-center">
            <img [src]="photo" class="rounded" alt="{{city.photo}}" class="w-100">
        </div>
        <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input name="name" type="text" [(ngModel)]="name" class="form-control" id="name" value="{{name}}">
            </div>
            <div class="mb-3">
              <label for="photo" class="form-label">Photo link</label>
              <textarea name="photo" class="form-control" [(ngModel)]="photo" id="photo" rows="8" value="{{photo}}"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-2 hidden-xs">
    </div>
</div>