
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="d-flex">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">
                Home
            </a>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav ml-auto">
      <li *ngIf="!authenticated" class="nav-item">
          <a class="nav-link" href="#" (click)="onSignIn()"><span class="fa fa-sign-in"></span>
              Sign In
          </a>
      </li>
      <li *ngIf="authenticated" class="nav-item">
          <a class="nav-link" href="#" (click)="onSignOut()"><span class="fas fa-sign-out-alt"></span>
            Sign Out
          </a>
      </li>
    </ul>
  </div>
</nav>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
